<!-- register -->
<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="col-lg-6 px-lg-4">
    <div class="card">
      <div class="card-header px-lg-5">
        <h2 class="mb-4" class="text-center"> <br class="d-none d-lg-inline">Registration</h2>
        <!-- <div class="card-heading text-primary" class="d-none d-lg-inline" class ="text-center">Sign Up</div> -->
      </div>
      <div class="card-body p-lg-5">
        <form action="index.html">
          <div class="form-floating mb-3">
            <!-- <i class="fas fa-user fa-lg me-3 fa-fw"></i> -->
            <input class="form-control" id="username" type="email" placeholder="name@example.com" required>
            <label for="username">Username</label>
          </div>
          <div class="form-floating mb-3">
            <!-- <i class="fas fa-envelope fa-lg me-3 fa-fw"></i> -->
            <input class="form-control" id="floatingInput" type="email" placeholder="name@example.com" required>
            <label for="floatingInput">Email</label>
          </div>
          <div class="form-floating mb-3">
            <!-- <i class="fas fa-lock fa-lg me-3 fa-fw"></i> -->
            <input class="form-control" id="floatingPassword" type="password" placeholder="Password" required>
            <label for="floatingPassword">Password</label>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" name="agree" id="agree">
            <label class="form-check-label" for="agree">I agree with the <a href="#">Terms & Conditions</a>.</label>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" id="register" type="button" (click)="onSubmit()" name="registerSubmit">Sign Up</button>
          </div>
          
        </form>
      </div>
      <div class="card-footer px-lg-5 py-lg-4">
        <div class="text-sm text-muted" [routerLink]="'/login'">Already have an account? <a>Login</a>.</div>
      </div>
    </div>
  </div>
 
