<!-- register -->
<form (ngSubmit)="onSubmit()">
  <label for="username">Username:</label>
  <input type="text" id="username" [(ngModel)]="form.username" name="username" required>

  <label for="email">Email:</label>
  <input type="email" id="email" [(ngModel)]="form.email" name="email" required>

  <label for="password">Password:</label>
  <input type="password" id="password" [(ngModel)]="form.password" name="password" required>

  <button type="submit">Register</button>
</form>
 
<!-- 
  <form (ngSubmit)="onSubmit()">
  <input [(ngModel)]="form.username" name="username" type="text" placeholder="Username" />
  <input [(ngModel)]="form.email" name="email" type="email" placeholder="Email" />
  <input [(ngModel)]="form.password" name="password" type="password" placeholder="Password" />
  <button type="submit">Submit</button>
</form>
 -->